.title {
  color: #E47852;
}

body {
  background-image: url('/img/macaroni_background.jpg');
}

header {
  margin: 20px auto;
  width: 50%;
  padding: 20px 20px 20px 20px;
  border: 1px dotted orange;
  background-color: #FFF;
}

h1 {
  display: inline;
}

h2 {
  display: inline;
}

.home_screen {
  float: left;
  width: 100%;
  height: 100%;
  background-image: url('/img/cartoon_macaroni.jpg');
}

#navigation {
  float: right;
  width: 30%;
  padding: 10px 0;
}

#navigation li {
  display: inline;
  float: left;
  width: 30%;
}

a {
color: #DE9331;
text-decoration: none;
}

a:visited {
  color: #bf8900
}

#logout_button {
  margin: 0;
  padding: 0;
  color: #bf8900;
}

#logout_button .logout {
  float: right;
  margin: 0;
  padding: 0;
  background: none;
  border: 1px solid white;
}

.container {
  margin: 20px auto;
  width: 50%;
  padding: 20px 20px 360px 20px;
  border: 1px dotted orange;
  background-color: #FFF;
}

.left {
  float: left;
  width: 45%;
  margin: 0 20px;
  color: #E47852;
  /*border: 1px solid red;*/
}

.right {
  float: right;
  width: 45%;
  margin: 0 20px;
  color: #E47852;
  /*border: 1px solid red;*/
}
#translation_options {
  width: 100%;
}

#translation_options li {
  display: inline;
  padding: 0 20px 0 0;
}

th {
  text-align: left;
}

input[type=text], input[type=email], input[type=password] {
  width: 30%;
  padding: 2px 2px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 1.25em;
}

button {
  background-color: lightgreen;
  border: none;
  color: black;
  padding: 8px 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#profile {
  color: #bf8900;
}

#register_me {
  color: #bf8900;
}
