<div class = "container">
  <% if @errors %>
      <%= @errors %>
  <% end %>
  <form action = "/login" method="post">
    username: <input type="text" name="user[username]"><br>
    password: <input type="password" name="user[password]">
    <input type="submit" value="Login">
  </form>
</div>
