<main class = "container">

  <section class="left">
      <form id="translate" action = "/" method = "post">
        <textarea name="original_text"></textarea><br>
        <input type = "submit" value = "Yoda It">
      </form>
    </section>

    <section class="right">
      <div id="translation">

      </div>
    </section>

</main>

