<div class = "container">
  <ul id="translation_options">
    <li><a href="#">Yoda</a></li>
    <li><a href="#">Pig Latin</a></li>
    <li><a href="#">Elvish</a></li>
    <li><a href="#">Furbish</a></li>
    <li><a href="#">Nadsat</a></li>
  </ul>
  <form  action = "#" method = "#">
    <textarea></textarea><br>
    <input type = "submit" value = "Macaron It">
  </form>
  <div id="translation">

  </div>
</div>
